
#cname{
 font-size: 20px;

    -webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
    transition: width 2s;

}
#cname:hover{
font-size:25px;
color:black;
}
a{
	text-decoration: none;
	color: black;

	font-weight: bold;
	font-size: 20px;
}
header,footer,section,article {
    border:1px solid grey;
    margin:25px;margin-bottom:15px;padding:10px;
    background-color:white;
}
header,footer {
    color:white;background-color:#444;margin-bottom:5px;
}
section {
    background-color:#ddd;
}
nav ul  {
    margin:0;padding:10px;
}
nav ul li {
    display:inline; margin:5px;
    padding:20px;

}
#homeimg{height:300px ;
	width:100% ;
	align:center;

}

.lg{
	height: 50px;
	widht:50px;
}
li a:hover{
	color: red;
}

#ani {
	position: relative;
	background-color: red;
	  animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes example {
    0%   {background-color:red; left:50px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:320px; top:0px;} 
    100% {background-color:red; left:50px; top:0px;}
}


